
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

main {
    padding: 30px;
}

header {
    background-color: #cdff9e;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

header img {
    height: 100%;
    object-fit: contain;
}

.math {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

h2 {
    color: purple;
}

h3 {
    color: purple;
}

h4 {
    color: purple;
}

 h5 {
    color : purple;
 }

footer {
    background-color: #cdff9e;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: 150px auto 150px 35px 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

