
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

main {
    display: grid;
    grid-template-columns: 150px auto 150px 35px 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    padding: 30px;
}

header {
    background-color: #cdff9e;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
h2, h4 {
    background-color: tomato;
    margin: 5px;
    margin-bottom: -25px;
}
h3, h5 {
    background-color: #cdff9e;
    margin: 5px;
    margin-bottom: -25px;

}

button {
    background-color: peachpuff;
    padding: 1px 35px;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    color: black;
    cursor: pointer;
}

header img {
    height: 100%;
    object-fit: contain;
}

.math {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    background-color: tomato;
    padding: 10px;
}


